@page "{id}"
@model WebThayAnh.Areas.Identity.Pages.Account.Manage.EditRoleModel
@{
    ViewData["Title"] = "Edit Role";
}

<h1>Edit Role</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="RoleName" class="control-label"></label>
        <input asp-for="RoleName" class="form-control" />
        <span asp-validation-for="RoleName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
